.container{
    max-width: 1400px;
    margin: auto;
    background-color: aliceblue;
}
.header{
    background-color: aliceblue;
}
.block2{
    text-align: center;
    margin-top: 200px;
}
.photo2{
    display: flex;
    margin-top: 50px;
    margin-left: 2300px;
    gap: 50px;
}
.photo{
    display: flex;
    margin-left: 80px;
}